.body {
    margin: 5%;
}

.city_input {}

.city_input input {
    margin: 0 5px;
    max-width: 190px;
    max-height: 5px;
    padding: 12px;
    border: none;
    border-radius: 4px;
    box-shadow: 3px 3px 10px 0 rgb(0, 0, 0, 0.2);
    outline: none;
    color: rgb(83, 82, 82);
}

.city_input button {
    font-size: 1rem;
    border-radius: 4px;
    background-color: rgb(185, 185, 185);
}

.main {
    padding: 20px;
    margin-top: 5%;
}

.main_temp {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
}

.main_temp p {
    font-size: 3rem;
    margin: 0;
    font-weight: bold;
}

.main_temp img {
    scale: 1.4;
    margin: 0;
}

.description {
    margin: 0;
}

.main_description {
    margin-top: 0;
    font-size: 2rem;
    font-weight: bold;
}

.horiozontal_direction {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fade_color {
    margin: 0 10px;
    color: #616161;
}

.bold_font {
    font-weight: bold;
    margin-top: 5%;
}