.body {
    margin: 2% 5%;
}


.main {
    padding: 20px;
    margin-top: 5%;
}

.main_temp {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
}

.main_temp p {
    font-size: 3rem;
    margin: 0;
    font-weight: bold;
}

.main_temp img {
    scale: 1.4;
    margin: 0;
}

.description {
    margin: 0;
}

.main_description {
    margin-top: 0;
    font-size: 2rem;
    font-weight: bold;
}

.horiozontal_direction {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fade_color {
    margin: 0 10px;
    color: #616161;
}

.bold_font {
    font-weight: bold;
    margin-top: 5%;
}

.unit {
    font-size: 1rem;
    position: relative;
    top: -25px
}